# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env

# Data
data/raw/*
data/processed/*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl